@model RegisterViewModel

<div class="container mt-5" style="max-width:500px">
    <h3 class="text-center mb-4">Crear Cuenta</h3>

    <form method="post">
        <div class="row">
            <div class="col mb-3">
                <input asp-for="Nombre" class="form-control" placeholder="Nombre" />
            </div>
            <div class="col mb-3">
                <input asp-for="Apellido" class="form-control" placeholder="Apellido" />
            </div>
        </div>

        <div class="mb-3">
            <input asp-for="Username" class="form-control" placeholder="Usuario" />
        </div>

        <div class="mb-3">
            <input asp-for="Email" class="form-control" placeholder="Correo" />
        </div>

        <div class="mb-3">
            <input asp-for="Password" class="form-control" placeholder="Contraseña" />
        </div>

        <div class="mb-3">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar contraseña" />
        </div>

        <button class="btn btn-success w-100">Registrarse</button>
    </form>
</div>
